<ion-view title="Hr.glass" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-gear-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="hrGlass-list2">
      <ion-item id="hrGlass-list-item6">Item</ion-item>
      <ion-item id="hrGlass-list-item7">Item</ion-item>
      <div class="item item-body" id="hrGlass-list-item-container1">
        <div id="hrGlass-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>